# ============================
# Database
# ============================
DB_NAME=BadmintonRevenueRecordDB
DB_USERNAME=postgres
DB_PASSWORD=CHANGE_ME_TO_STRONG_PASSWORD

# ============================
# Frontend
# ============================
NEXT_PUBLIC_API_URL=/api

# ============================
# Docker Hub (cho CI/CD)
# ============================
DOCKER_USERNAME=your_dockerhub_username